<h1>Listing tweets</h1>

<table>
  <tr>
  </tr>

<% @tweets.each do |tweet| %>
  <tr>
    <td><%= link_to 'Show', tweet %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tweet', new_tweet_path %>