<h1>Edit My Account</h1>

<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Update" %>
<% end %>

<% if @authorized %>
<p>
	<% form_tag user_authorizations_path(@user), :method => :delete do %>
		<%= submit_tag "Delete my twitter association" %> 	<strong>Warning: this will delete all tweets that have been recorded!</strong>
	<% end %>
</p>
<% end %>